.login-button {
    padding: 15px 60px;
    background-color: #006eff;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
    border: none;
    outline: none;
  }
  
  .login-button:hover {
    background-color: #001193;
    border: none;
    outline: none;
  }