.register-button {
    padding: 15px 60px;
    background-color: #00BFFF;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
}

  .register-button:hover {
    background-color: #0084ff;
    transition: color 2s ease;
  }