.landingnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #1a1a1a; 
    font-family: 'Arial', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .landingnavbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }

  .menu-btn {
    display: none; 
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .realestateblack {
    margin-left: 120px;
    margin-top: 10px;  
  }

  @media (max-width: 768px) {
    .landingnavbar-links {
      display: none; 
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
  
    .landingnavbar-links.active {
      display: flex; 
    }
  
    .menu-btn {
      display: block;
      color: #fff;
    }
  }
  