.landingnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #1a1a1a; 
    font-family: 'Arial', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .landingnavbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }

  .menu-btn {
    display: none; 
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .realestateblack {
    margin-left: 615px;
    margin-top: 10px;  
  }

  body {
    background: rgb(14, 18, 21);
    background: linear-gradient(90deg, rgb(9, 13, 18) 13%, rgb(17, 22, 28) 58%);
  }

  h1 {
    color: #ffffff;
  }