.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #131313;
    color: #fff; 
    font-family: 'Arial', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar-links {
    display: flex;
    gap: 15px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  

  .menu-btn {
    display: none; 
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none; 
      flex-direction: column;
      background-color: #333;
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
  
    .navbar-links.active {
      display: flex; 
    }
  
    .menu-btn {
      display: block;
      color: #fff;
    }
  }
  