.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #21292e;
  color: #fff;
  font-family: "Arial", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand img {
  display: block;
  height: 50px;
  width: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
  font-weight: 500;
}

.navbar-link:hover {
  color: #cdcdcd;
}

.icon {
  font-size: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification-icon,
.profile-icon {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.profile-icon:hover,
.notification-icon:hover {
  color: #cdcdcd;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #21292e;

    flex-direction: column;
    align-items: center;
    gap: 0;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .navbar-links.active {
    max-height: 300px;
  }

  .navbar-link {
    width: 100%;
    justify-content: center;
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }

  .navbar-right {
    margin-left: auto;
  }
}
