.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #21292e;
  color: #fff;
  font-family: "Arial", sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand img {
  display: block;
  height: 50px;
  width: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
  font-weight: 500;
}

.navbar-link:hover {
  color: #f3f3f3;
}

.icon {
  font-size: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.notification-icon,
.profile-icon {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.profile-icon:hover,
.notification-icon:hover {
  color: #f5f5f5;
}
